<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    
      <startup useLegacyV2RuntimeActivationPolicy="true">
        <supportedRuntime version="v4.0" sku = ".netframework,version=v4.6.1"/>
        
      </startup>
    
  <connectionStrings>
    <add name="itcastCater" connectionString="Data Source=‪E:\myDataBase\ItcastCater.db;version=3;"/>
  </connectionStrings>
</configuration>